:root {
    --color-orange: #ffa32d;
    --color_black: #8b1ec4;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 15px;

}
#logo_header{
    width: 70px;
    height: 70px;
    border-radius: 15px; 
}


header a {
    text-decoration: none;
    color: var(--color-orange);
    padding: 15px;
    border-radius: 10px;
}

a:hover{
    color: white;
    background: var(--color-orange);
}


ul, ol {
    list-style: none;
}